<section class="categories">
  <ul>
    <li><a routerLink="/top-offers">Top Offers</a></li>
    <li><a routerLink="/mobiles-tablets">Mobiles & Tablets</a></li>
    <li><a routerLink="/tvs-appliances">TVs & Appliances</a></li>
    <li><a routerLink="/electronics">Electronics</a></li>
    <li><a routerLink="/fashion">Fashion</a></li>
    <li><a routerLink="/beauty">Beauty</a></li>
    <li><a routerLink="/home-kitchen">Home & Kitchen</a></li>
    <li><a routerLink="/furniture">Furniture</a></li>
    <li><a routerLink="/travel">Travel</a></li>
    <li><a routerLink="/grocery">Grocery</a></li>
  </ul>
</section>


